.footer {
	background: #FFFBF7;
	padding: 89px 0 0 0;
}
.footer__container {
	padding: 0 15px 0 14px;
}
.footer__body {}
.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__types {}
.types {}
.types__list {}
.types__link {}

.footer__nav {
	display: flex;
	align-items: center;
}
.footer-nav {}
.footer-nav__link {
	font-size: 16px;
	line-height: 146%;
	letter-spacing: 1.2px;
	color: #2B2A28;
	display: inline-block;
	transition: all .1s ease-in 0s;
	&:not(:last-child){
		margin: 0 56px 0 0;
	}
	@media (any-hover: hover) {
		&:hover {
			color: #F39C32;
		}
	}
}
.footer__button {
	min-height: 46px;
	font-size: 13px;
	line-height: 123%;
	padding: 0 26px;
	letter-spacing: 0.4px;
	white-space: nowrap;
}
.footer__button.mobile{
	display: none;
}

.footer__main {
	display: grid;
	margin: 33px 0 0 0;
	grid-template-columns: 1fr 495px;
	gap: 57px;
	padding: 0 0 60px;
}
.footer__menu {}
.menu-footer {
	padding: 6px 0 0 0;
	display: flex;
	justify-content: space-between;
}
.menu-footer__column {
	flex: 0 1 33.333%;
}
.menu-footer__column_2{
	padding: 0 0 0 30px;
}
.menu-footer__column_3{
	padding: 0 0 0 10px;
}
.menu-footer__column_4{
	display: none;
}
.menu-footer__column_5{
	display: none;
}
.menu-footer__title {
	display: none;
}
.menu-footer__list {
	& li:not(:last-child){
		margin: 0 0 11px;
	}
}
.menu-footer__link {
	font-weight: 300;
	font-size: 14px;
	line-height: 157%;
	color: #2B2A28;
	transition: all .1s ease-in 0s;
	@media (any-hover: hover) {
		&:hover {
			color: #F39C32;
		}
	}
}
.footer__info {
	flex: 0 0 math.div(495, 1200) * 100%;
	padding: 0 0 0 2px;
}
.footer__logo {
	display: flex;
	align-items: center;
	margin: 0 0 52px;
}
.footer__logo.mobile{
	display: none;
}
.logo-footer {}
.logo-footer__description {
	font-weight: 600;
	font-size: 13px;
	line-height: 138%;
	margin: 0 0 0 28px;
	letter-spacing: 0.9px;
}
.footer__contacts {}
.footer__social {}
.social-footer {
	margin: 0 0 40px;
}
.social-footer__label {
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	line-height: 129%;
	letter-spacing: 1px;
	margin: 0 0 10px;
	padding: 0 0 0 1px;
}
.social-footer__list {
	display: flex;
	& li:not(:last-child){
		margin: 0 4px 0 0;
	}
}
.social-footer__link {
	display: inline-block;
}
.footer__phone {}
.phone-footer {
	display: inline-flex;
	flex-direction: column;
}
.phone-footer__link {
	display: inline-block;
	font-size: 20px;
	color: #2B2A28;
	margin: 0 0 6px;
	transition: all .1s ease-in 0s;
	@media (any-hover: hover) {
		&:hover {
			color: #F39C32;
		}
	}
}
.phone-footer__label {
	display: block;
	font-size: 12px;
	line-height: 150%;
	font-weight: 400;
	text-align: right;
	letter-spacing: 1px;
}
.footer__bottom {
	border-top: 1px solid #E7D8C7;
	padding: 31px 0 4px;
}
.footer__copy {
	text-align: center;
	font-weight: 300;
	font-size: 13px;
	line-height: 169%;
	opacity: 0.7;
	color: #2B2A28;
}


// init spollers
._init .menu-footer__title {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}
._init .menu-footer__title::before {
	content: url('../img/icons/footer-arrow.svg');
	position: absolute;
	right: 9px;
	transition: transform .3s ease 0s,
}
._init .menu-footer__title::after {
	content: url('../img/icons/footer-arrow.svg');
	position: absolute;
	left: 9px;
	transition: transform .3s ease 0s,
}
.menu-footer__title._active::before {
	transform: rotate(180deg);
}
.menu-footer__title._active::after {
	transform: rotate(-180deg);
}
