.header{
	background: #FFFBF7;
	padding: 22px 0 5px;
}
.header {}
.header__container {
	max-width: 1200px;
	padding: 0 14px;
}
.header__top {
	display: flex;
	margin: 0 0 18px;
}
.header__inner{
	display: flex;
}
.header__logo {
	display: block;
	margin: 0 29px 0 0;
	padding: 18px 0 0 0;
}
.logo {}
.logo-mobile320{
	display: none;
}
.header-phone_mobile{
	width: 30px;
	height: 30px;
	border: 1px solid #CB8734;
	border-radius: 2px;
	display: none;
	justify-content: center;
	align-items: center;
}
.header__description {
	font-size: 13px;
	line-height: 138%;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 18px 0 0 0;
	margin: 0 49px 0 0;
}
.header__social {
	display: flex;
	flex-direction: column;
	padding: 9px 0 0 0;
	margin: 0 40px 0 0;
}
.social {}
.social__label {
	display: inline-block;
	font-size: 12px;
	line-height: 150%;
	font-weight: 600;
	margin: 0 0 4px;
	letter-spacing: 0.9px;
}
.social__list {
	display: flex;
	& li {
		flex: 0 0 26px;
		height: 26px;
	}
	& li:not(:last-child){
		margin: 0 4px 0 0;
	}
}
.social__link {}

.header__phone {
	padding: 13px 0 0 0;
	margin: 0 25px 0 0;
}
.phone__link {
	font-size: 20px;
	color: currentColor;
	display: inline-block;
	margin: 0 0 5px;
	white-space: nowrap;
	transition: all .2s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			color: #F39C32;
		}
	}
}
.phone__label {
	display: block;
	text-align: right;
	font-size: 12px;
	line-height: 150%;
	font-weight: 400;
	letter-spacing: 1px;

}
.header__button {
	margin: 0 25px 0 0;
}
.header-button {}
.btn {
	font-size: 13px;
}
.header-button .btn{
	min-height: 46px;
	padding: 0 26px;
	letter-spacing: 0.4px;
	white-space: nowrap;
}
.btn-yellow {
	background: linear-gradient(180deg, #F39C32 0%, #CB8734 100%);
	box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
	border-radius: 4px;
	line-height: 16px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 66px;
	@media (any-hover: hover) {
		&:hover {
			background: #F39C32;
		}
	}
}
.header-button__label {
	display: block;
	font-size: 11px;
	line-height: 164%;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.8px;
	margin: 7px 0 0 0;
}
.header__dropdown {
	padding: 15px 0 0 0;
}
.dropdown {
	position: relative;
}
.dropdown__button {
	background: none;
	width: 33px;
	height: 15px;
	position: relative;
	cursor: pointer;
	padding: 0 12px 0 0;
	display: flex;
	align-items: center;
	&::before{
		content: url('../img/icons/arrow-down.svg');
		position: absolute;
		right: -2px;
		top: -2px;
		transition: all .3s ease-in 0s;
	}
}
.dropdown__button img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.dropdown__button.active::before{
	transform: rotate(180deg);
	top: 2px;
}
.dropdown__list {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: 40px;
	background: #FFFFFF;
	border: 1px solid #ceced3;
	min-height: 50px;
	padding: 10px 0px;
	overflow-x: hidden;
	overflow-y: auto;
	& li{
		padding: 0 5px;
	}
}
.dropdown__list.show{
	display: block;
}
.dropdown__list-item {
	width: 21px;
	flex: 0 0 21px;
	height: 15px;
	cursor: pointer;
	& img{
		width: 21px;
		height: 15px;
		object-fit: cover;
	}
}
.dropdown__list-item:not(:last-child){
	margin: 0 0 10px;
}
.dropdown__input-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}
.header__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.types {
	background: #3D1E19;
	box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.2);
	border-radius: 8px;
	color: #fff;
	padding: 10px 0 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px 0 0;
}
.types {}
.types__list {
	display: flex;
}
.types__list li:last-child .types__link{
	border: none;
}
.types__link{
	color: currentColor;
	padding: 15px 60px;
	font-size: 16px;
	line-height: 146%;
	border-right: 1px dashed #E5EBF2;
	display: inline-block;
	letter-spacing: 1.2px;
}
.header__menu {}
.menu {}
.menu__list {
	display: flex;
	align-items: center;
}
.menu__list li:not(:last-child){
	margin: 0 84px 0 0;
}
.menu__link {
	font-size: 16px;
	line-height: 146%;
	letter-spacing: 1.2px;
	color: #2B2A28;
	transition: all .1s ease-in 0s;
	@media (any-hover: hover) {
		&:hover {
			color: #F39C32;
		}
	}
}
.social__list.mobile{
	display: none;
}
.phone__link.mobile{
	display: none;
}
.header__button.mobile{
	display: none;
}
.logo-mobile{
	display: none;
}
.header__social.mobile{
	display: none;
}
.head-menu{
	align-items: center;
	padding: 0 15px 16px;
	justify-content: space-between;
	position: fixed;
	z-index: 5;
	top: 18px;
	width: 100%;
	display: none;
	border-bottom: 1px solid #E7D8C7;
}
.head-menu__label {
	font-size: 16px;
	line-height: 150%;
	color: #2B2A28;
}
.menu__close {
	background: none;
}

.types__menu {
	display: none;
}
.menu-types {}
.menu-types__item {
	border-bottom: 1px solid #E7D8C7;
}
.menu-types__item_1{
	border-top: 1px solid #E7D8C7;
}

.menu-types__title {
	background: none;
	font-size: 14px;
	line-height: 146%;
	color: #2B2A28;
	font-weight: 700;
	font-family: 'Gillroy', sans-serif;
	padding: 0 10px;
	min-height: 50px;
	letter-spacing: 1px;
}
.menu-types__list {
	padding: 0 0 16px;
	text-align: center;
	& li:not(:last-child){
		margin: 0 0 11px;
	}
}
.menu-types__link {
	font-weight: 300;
	font-size: 14px;
	line-height: 157%;
	color: #2B2A28;
}

// init spollers
._init .menu-types__title {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}
._init .menu-types__title::before {
	content: url('../img/icons/footer-arrow.svg');
	position: absolute;
	right: 10px;
	transition: transform .3s ease 0s,
}
._init .menu-types__title::after {
	content: url('../img/icons/footer-arrow.svg');
	position: absolute;
	left: 7px;
	transition: transform .3s ease 0s,
}
.menu-types__title._active::before {
	transform: rotate(180deg);
}
.menu-types__title._active::after {
	transform: rotate(-180deg);
}
.header__menu-bottom{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
	padding: 0 10px;
}
.header__phone.mobile{
	display: none;
}
