@use "sass:math";
//<МИКСИНЫ>===============================================================================================
// @import "_mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "_fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "_icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy", sans-serif;
$fontWeight: 400;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
// @import "_variables.scss"
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #2B2A28;
$fontSize: 16px;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null";

body {
	color: $mainColor;
	font-weight: $fontWeight;
	font-family: $fontFamily;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "_forms";
@import "_ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "_datepicker";
//@import "_lightgallery";
//@import "_pagging";
// @import "_popup";
// @import "_sidebar";
// @import "_slick";
@import "_header";
@import "_footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.main-page {
	flex: 1 1 auto;
}
//===================================================================================================================================
// MAIN-BLOCK

.main-block{
	background: #FFFBF7;
}
.main-block__body{
	display: flex;
	justify-content: space-between;
	padding: 0 0 276px;
}
.main-block__container {}
.main-block__info {
	padding: 113px 0 0 0;
	margin: 0 6px 0 0;
	flex: 0 1 47%;
}
.main-block__title {
	font-size: 38px;
	line-height: 132%;
	font-weight: 800;
	margin: 0 0 8px;
}
.main-block__subtitle {
	font-size: 18px;
	line-height: 167%;
	font-weight: 400;
}
.actions-block {
	margin: 26px 0 0;
	display: flex;
	align-items: center;
}
.main-block__button {
	margin: 0 41px 0 0;
	padding: 10px 39px;
	letter-spacing: 0.5px;
}
.general__link{
	font-size: 16px;
	color: #CB8734;
	& span{
		padding: 0 0 0 42px;
		display: flex;
		align-items: center;
		min-height: 30px;
		background: url('../img/icons/catalog-arrow.svg') no-repeat left;
	}
}

.main-block__slider {
	flex: 0 1 53%;
}
.main-slider{
	overflow: hidden;
	position: relative;
	height: 100%;
}
.main-slider__body{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
.main-block__item{
	flex-shrink: 0;
	max-height: 506px;
	& img{
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.main-slider__controls {
	position: absolute;
	display: flex;
	align-items: center;
	z-index: 1;
	bottom: 41px;
	right: 40px;
	color: #fff;
}

.main-slider__pagination {
	margin: 0 12px;
}
.main-slider__pagination .swiper-pagination-current,
.main-slider__pagination .swiper-pagination-total{
	font-size: 16px;
}
.slider-arrow {}
.slider-arrow_prev {
	background: url('../img/arrow-white-prev.svg');
	background-size: 18px 12px;
	width: 18px;
	height: 12px;
}
.slider-arrow_next {
	background: url('../img/arrow-white-next.svg');
	background-size: 18px 12px;
	width: 18px;
	height: 12px;
}
.slider-arrow.swiper-button-disabled{
	cursor: default;
}
.main-block__description{
	font-size: 11px;
	line-height: 165%;
	letter-spacing: 1px;
	font-weight: 600;
	margin: 0 0 16px;
	display: none;
}
.main-block__bottom.mobile{
	display: none;
}
.main-block__img--mobile{
	display: none;
}


// CHOOSE
.choose__container {
	padding: 56px 30px 50px 60px;
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
	border-radius: 8px;
	margin-top: -204px;
	max-width: 1170px;
}
.choose__title {
	margin: 0 0 35px;
}
.general-title {
	font-size: 36px;
	line-height: 161%;
	color: #2B2A28;
	overflow: hidden;
}
.choose__body {
	display: flex;
	align-items: flex-start;
}
.choose__item {}
.item-choose {
	text-align: left;
	flex: 0 1 20%;
}
.item-choose:not(:last-child){
	margin: 0 19px 0 0;
}
.item-choose:nth-child(3),
.item-choose:nth-child(4){
	flex: 0 1 25%;
}
.item-choose:nth-child(3){
	padding: 0 0 0 47px;
}
.item-choose:nth-child(4){
	margin-left: auto;
	padding: 0 0 0 9px;
}
.item-choose__text {
	padding: 21px 0 0 0;
	font-size: 15px;
	line-height: 200%;
	font-weight: 300;
	& span{
		font-weight: 700;
	}
}
.item-choose__icon_mobile{
	display: none;
}
// CATALOG
.catalog{
	padding: 144px 0 145px;
	background: url('../img/catalog-bg.png') no-repeat;
	background-position: 100% 62%;
	background-size: cover auto;
	position: relative;
}
.catalog__title {
	margin: 0 0 22px;
}
.catalog__body {
	margin: 0 -15px;
}
.catalog__top {
	display: flex;
	flex-wrap: wrap;
}
.catalog__item {
	margin: 0 15px;
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
	border-radius: 0px 40px 0px 0px;
	max-width: 370px;
	padding: 5px;
}
.item-catalog__image {
	padding-bottom: 63.88%;
	position: relative;
	border-radius: 0px 36px;
	& img{
		border-radius: inherit;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.item-catalog__content {
	padding: 36px 20px 45px 45px;
}
.item-catalog__title {
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 9px;
}
.item-catalog__descr {
	font-weight: 300;
	font-size: 15px;
	line-height: 187%;
	margin: 0 0 15px;
}
.item-catalog__link {
	display: inline-block;
	margin-top: auto;
}
.item-catalog__link{
	font-size: 15px;
}
.catalog__bottom{
	margin: 29px 0 0 0;
}
.catalog__bottom .catalog__item{
	display: flex;
	max-width: 770px;
}
.catalog__bottom .item-catalog__image{
	justify-content: stretch;
	align-items: stretch;
	padding-bottom: 40.8%;
	flex: 0 0 55.2%;
}
.catalog__bottom .item-catalog__content {
	padding: 44px 59px 58px 45px;
}
.catalog__bottom .item-catalog__descr{
	margin: 0 0 28px;
}

// BUILDING
.building {
	padding: 143px 0 145px;
	background: #FFFBF7;
}
.building__title {
	max-width: 372px;
	line-height: 133%;
}
.building__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.building__column{
	display: flex;
	flex: 0 1 50%;
	padding: 0 15px;
	margin-top: 58px;
	position: relative;
}
.building__box {
	background: #FFFFFF;
	border-radius: 8px;
	padding: 44px 39px 50px 46px;
	position: relative;
	overflow: hidden;
}
.building__box::before{
	content: attr(data-number);
	position: absolute;
	right: 25px;
	bottom: -35px;
	font-size: 140px;
	color: #CB8734;
	opacity: 0.1;
	font-weight: 800;
}
.building__box_3::before,
.building__box_4::before{
	bottom: -27px;
}
.building-box__icon{
	display: none;
}
.building__icon {
	position: absolute;
	z-index: 1;
}
.building__icon_1{
	right: 41px;
	top: -43px;
}
.building__icon_2{
	right: 29px;
	top: -74px;
}
.building__icon_3{
	right: 28px;
	top: -24px;
}
.building__icon_4{
	right: 54px;
	top: -43px;
}
.building-content__title{
	font-size: 30px;
	line-height: 120%;
	margin: 0 0 10px;
	position: relative;
	z-index: 2;
	font-weight: 400;
}
.building-content__title_1{
	max-width: 155px;
}
.building-content__title_2{
	max-width: 322px;
}
.building-content__title_3{
	max-width: 205px;
}
.building-content__title_4{
	max-width: 170px;
}
.building__text {
	font-weight: 300;
	font-size: 15px;
	line-height: 200%;
}
.building__bottom {
	margin: 55px 0 0 0;
}
.building__photo {
	border-radius: 0px 100px;
	width: 100%;
	min-height: 400px;
	& img{
		border-radius: inherit;
		width: 100%;
		height: 100%;
		max-height: 100%;
		object-fit: cover;
	}
}
.building__actions {
	margin: 40px 0 0 0;
}
.building__button {
	padding: 10px 41px;
	letter-spacing: 0.2px;
	margin: 0 44px 0 0;
}
.building__icon-mobile{
	display: none;
}
.building-slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.building-slider__body {
	position: relative;
	background: none;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.building__photo {
	flex-shrink: 0;
}
.building__controls {
	position: absolute;
	bottom: 34px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
}
.building-slider__pagination {
	font-size: 16px;
	font-weight: 600;
	margin: 0 12px;
	color: #fff;
	letter-spacing: -1px;
}
.building-slider .slider-arrow_next {
	background: url(../img/arrow-white-next.svg) no-repeat;
}
.building-slider .slider-arrow_prev {
	background: url(../img/arrow-white-prev.svg) no-repeat;
}
// ABOUT
.about {
	padding: 133px 0 147px;
	background: url('../img/about-bg-right.png') 100% 0 no-repeat, url('../img/about-bg-left.png') 0% 100% no-repeat;
}
.about__title {
	margin: 0 0 64px;
}
.about__body {
	position: relative;
	margin: 0 0 175px;
}
.about__man {
	position: absolute;
	top: -58px;
	left: 50%;
	transform: translateX(-50%);
}
.about__man.mobile{
	display: none;
}
.about__photo {
	min-height: 200px;
	width: 100%;
	border-radius: 0 100px;
	& > img{
		border-radius: inherit;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.about__play.mobile{
	display: none;
}
.about__play {
	position: absolute;
	top: 56.8%;
	left: 61.5%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.play__icon {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #CB8734;
	&::before{
		content: "";
		position: absolute;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		background: #CB8734;
		opacity: 0.4;
		z-index: -1;
	}
}
.play__icon img{
	width: 15px;
	height: 25px;
}
.play__text{
	margin: 18px 0 0 0;
	color: #fff;
	font-size: 13px;
	line-height: 138%;
	text-align: center;
	max-width: 134px;
}
.about__person {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -90px;
}
.person-about {
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
	border-radius: 8px;
	padding: 35px 51px 35px 43px;
	display: flex;
	align-items: flex-start;
	max-width: 570px;
}
.person-about__icon {
}
.person-about__content {
	padding: 4px 0 0 22px;
}
.person-about__name {
	font-size: 24px;
	line-height: 125%;
	font-weight: 400;
	margin: 0 0 6px;
}
.person-about__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
}
.person-about__name span:nth-child(2){
	display: none;
}
.data-about {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	gap: 30px;
}
.data-about__head {
	padding: 0 0 20px;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: #CB8734;
		border-radius: 8px;
	}
}
.data-about__number {
	font-size: 60px;
	color: #CB8734;
	font-weight: 400;
	& span{
		font-size: 30px;
		letter-spacing: 1px;
		font-weight: 400;
	}
}
.data-about__content {
	padding: 17px 0 0;
}
.data-about__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 187%;
}
.data-about__text_1{
	max-width: 230px;
}
.data-about__text_3{
	max-width: 205px;
}
.about__button {
	margin: 40px auto 0;
	max-width: 280px;
}
.about__man-img--mobile{
	display: none;
}
// TYPES
.types-block{
	background: #FFFBF7;
	padding: 145px 0;
}
.types-block__title {
	margin: 0 0 44px;
	max-width: 370px;
	line-height: 133%;
}
.types-block__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.types-block__column {
	flex: 0 1 33.333%;
	padding: 0 15px;
	display: flex;
}
.types-block__item {
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
	border-radius: 0px 40px 0px 0px;
	width: 100%;
	padding: 5px;
}
.types-block__image {
	position: relative;
	padding-bottom: 78%;
	border-radius: 0px 36px;
	& img{
		border-radius: inherit;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.types-block__content {
	padding: 34px 10px 35px 35px;
}
.types-block__name {
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 13px;
}
.types-block__list {
	& li{
		font-size: 15px;
		line-height: 147%;
		font-weight: 300;
		position: relative;
		padding: 0 0 0 20px;
	}
	& li:not(:last-child){
		margin: 0 0 10px;
	}
}
.types-block__list li::before{
	content: url('../img/icons/orange-arrow.svg');
	position: absolute;
	left: 0;
	top: 1px;
}

// ARTICLE
.article {
	padding: 145px 0 142px;
	background-color: #FFF;
}
.article__header {
	margin: 0 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.article__title {
	line-height: 133%;
}
.article__controls {
	display: flex;
	align-items: center;
	padding: 20px 0 0 0;
}
.article__controls .slider-arrow_next{
	background: url('../img/arrow-orange-next.svg') no-repeat;
}
.article__controls .slider-arrow_prev{
	background: url('../img/arrow-orange-prev.svg') no-repeat;
}
.article-slider__pagination {
	margin: 0 11px;
	font-weight: 600;
	font-size: 16px;
	color: #CB8734;
	letter-spacing: -1px;
}
.article-slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.article__wrapper {
	background: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
}
.article__column {
	display: flex;
	flex-shrink: 0;
}
.article__item {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}
.item-article {
	color: #2B2A28;
}
.article__labels {
	position: absolute;
	top: 22px;
	left: 23px;
	z-index: 2;
}
.article__label {
	font-size: 11px;
	line-height: 109%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	background: #CB8734;
	border-radius: 4px;
	padding: 12px 20px 10px 20px;
	&:not(:last-child) {
		margin: 0 0 15px;
	}
}
.item-article__image {
	position: relative;
	padding-bottom: 70.27%;
	border-radius: 0px 36px;
	& img{
		border-radius: inherit;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.item-article__content {
	flex: 1 1 auto;
	padding: 27px 0 0 0;
}
.item-article__title {
	font-size: 20px;
	line-height: 158%;
	font-weight: 400;
	margin: 0 0 15px;
}
.item-article__title_2{
	max-width: 270px;
}
.item-article__title_3{
	max-width: 255px;
}
.item-article__text {
	font-size: 15px;
	line-height: 200%;
	font-weight: 300;
}
.article__controls.mobile{
	display: none;
}
// SEO-BLOCK
.seo-block {
	padding: 0 0 148px;
}
.seo-block__container {
	padding: 0 15px 0 13px;
}
.seo-block__body {
	display: flex;
	justify-content: space-between;
}
.seo-block__info {
	margin: 0 50px 0 0;
	width: 50%;
	padding: 38px 0 0;
}
.seo-block__title {
	line-height: 133%;
	margin: 0 0 12px;
}
.seo-block__text p{
	font-size: 15px;
	line-height: 200%;
	font-weight: 300;
	&:not(:last-child){
		margin: 0 0 13px;
	}
}
.seo-block__text.mobile{
	display: none;
}
.seo-block__slider-container{
	width: 50%;
}
.seo-block__slider {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.seo-block__wrapper {
	position: relative;
	background: none;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.seo-block__item {
	flex-shrink: 0;
}
.seo-block__image {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	max-width: 100%;
	border-radius: 0px 100px;
	& img{
		border-radius: inherit;
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}
}
.seo-block__controls {
	position: absolute;
	bottom: 37px;
	left: 51%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
}
.seo-block__pagination {
	font-size: 16px;
	font-weight: 600;
	margin: 0 12px;
	color: #fff;
	letter-spacing: -1px;
}
.seo-block__controls .slider-arrow_next {
	background: url(../img/arrow-white-next.svg) no-repeat;
}
.seo-block__controls .slider-arrow_prev {
	background: url(../img/arrow-white-prev.svg) no-repeat;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
@import "_media";
